<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contact Us</title>
		{% load staticfiles %}
		<link href="/static/styles/style.css" rel="stylesheet">
		<link href="/static/favicon.png" rel="icon" type="image/x-icon" />
		
		<style>
			/* unvisited link */
			a:link { color: #000000; text-decoration: none}

			/* visited link */
			a:visited { color: #000000; text-decoration: none}
			
			/* mouse over link */
			a:hover { color: #3366CC; text-decoration: underline}
			
			/* selected link */
			a:active { color: #000000; text-decoration: none}
		</style>
		
	</head>
	<body>
		
		<header>
			<div class="title1">
				Human &amp;<br/>
				Machine<br/>
				INtelligent<br/>
			</div>
			
			<div class="title2">
				HuMaIN
			</div>
			
			<div class="title3">
				software components<br/> 
				for information<br/>
				retrieval<br/>
			</div>
			
			<nav>
				<table>
					<tr>
						<td>
							<a href="{% url "index" %}">
								<img alt="Home" src="/static/images/home-icon.png" width=40px height=40px>
							</a>
						</td>
						<td>
							<a href="mission.html">
								<img alt="Home" src="/static/images/target-icon.png" width=40px height=40px>
							</a>
						</td>
						<td>
							<a href="app.html">
								<img alt="Home" src="/static/images/play-icon.png" width=40px height=40px>
							</a>
						</td>
						<td>
							<a href="catalog.html">
								<img alt="Home" src="/static/images/stack-icon.png" width=40px height=40px>
							</a>
						</td>
						<td>
							<a href="contact.html">
								<img alt="Home" src="/static/images/phone-icon.png" width=40px height=40px>
							</a>
						</td>
						<td>
							<a href="help.html">
								<img alt="Home" src="/static/images/windy-icon.png" width=40px height=40px>
							</a>
						</td>
					</tr>
					<tr>
						<td>Home</td>
						<td>Mission</td>
						<td>Humain</td>
						<td>Catalog</td>
						<td>Us</td>
						<td>Help</td>
					</tr>
				</table>
			</nav>
		</header>
			
		<div class="content_1col">
			<table class="center">
			
				<tr height="8px">
					<td>
					</td>
				</tr>
				
				<tr>
					<td align="center">
						<table>
							<tr>
								<td>
									<b><a href="https://www.acis.ufl.edu/">Advanced Computing and Information Systems Laboratory (ACIS)</a></b><br/>
									<br/>
									<div style="font-size: 14px;">
										Dina Quinn dtren@acis.ufl.edu<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;Phone: (352) 392-4964<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;Fax: (352) 392-5040<br/>
										<br/>
										Our mailing address:<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;PO Box 116200<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;968 Center DR<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;Gainesville, FL 32611-6200<br/>
										<br/>
										Physical location:<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;339 Larsen Hall, University of Florida, Florida (USA)<br/>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr height="32px">
					<td>
					</td>
				</tr>
					
				<tr>
					<td>
						<b>HuMaIN project:</b>
					</td>
				</tr>	
						
				<tr height="10px">
					<td>
					</td>
				</tr>
							
				<tr>
					<td>
						<table class="center">
							<tr height="100px">
								<td width="100px"><img src="/static/images/contact/picFortes.jpg" alt="Dr.José Fortes" width="76px" height="100px"></td>
								<td width="10px"></td>
								<td width="600px" align="left">
									Dr. Jos&eacute; A.B. Fortes<br/>
									Principal Investigator<br/>
									<br/>
									... <a href="https://www.acis.ufl.edu/people/fortes">public profile</a> ...
								</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td>
						<table class="center">
							<tr height="100px">
								<td width="600px" align="right">
									Icaro Alzuru<br/>
									Graduate Student<br/>
									<br/>
									... <a href="https://www.acis.ufl.edu/people/ialzuru">public profile</a> ...
								</td>
								<td width="10px"></td>
								<td width="100px"><img src="/static/images/contact/picAlzuru.png" alt="Ícaro Alzuru" width="77px" height="100px"></td>
							</tr>
						</table>
					</td>						
				</tr>
				
				<tr>
					<td>
						<table class="center">
							<tr height="100px">
								<td width="100px"><img src="/static/images/contact/picMatsunaga.jpg" alt="Dr. Andréa Matsunaga" width="75px" height="100px"></td>
								<td width="10px"></td>
								<td width="600px" align="left">
									Dr. Andr&eacute;a Matsunaga<br/>
									Former PI<br/>
									<br/>
									... <a href="https://www.acis.ufl.edu/people/ammatsun">public profile</a> ...
								</td>
							</tr>
						</table>
					</td>					
				</tr>
				
				<tr>
					<td>
						<table class="center">
							<tr height="100px">
								<td width="600px" align="right">
									Dr. Mauricio Tsugawa<br/>
									Former co-PI<br/>
									<br/>
									... <a href="https://www.acis.ufl.edu/people/tsugawa">public profile</a> ...
								</td>
								<td width="10px"></td>
								<td width="100px"><img src="/static/images/contact/picTsugawa.jpg" alt="Dr. Mauricio Tsugawa" width="75px" height="100px"></td>
							</tr>
						</table>
					</td>						
				</tr>
			</table>
		</div>
					
		<footer>
			<table class="center">
				<tr>
					<td>
						<img alt="Home" src="/static/images/nsf1.gif" width="49px" height="50px">
					</td>
					<td>
						<b>HuMaIN is funded by a grant from the National Science Foundation's ACI Division of Advanced Cyberinfrastructure (Award Number: 1535086). <br/>
						Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and 
						<br/>do not necessarily reflect the views of the National Science Foundation.</b>
					</td>
					<td>
						<img alt="Home" src="/static/images/UFsignature.jpg" width="250px" height="46px">
					</td>
				</tr> 
			</table>
		</footer>
		
	</body>
</html>